footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.footer-links{
    width: 90% !important;
    margin-bottom: 20px;
}

svg{
    font-size: 20px !important;
}

.footer-left a, .footer-right a {
    margin-right: 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.footer-right:hover .fa-github{
    color: #000000;
}

.footer-right a:nth-child(2):hover > svg.fa-linkedin{
    color: #006599;
}

.footer-right a:hover svg.fa-youtube {
    color: #FF0100;
}

.footer-right:hover svg.fa-twitter {
    color: #1D9BEF;
}

.footer-right:hover svg.fa-instagram {
    background: linear-gradient(135deg, #E1306C, #FD1D1D, #FEE440, #30A9DE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    width: 90%;
    margin: 20px;
    border: none;
    border-top: 1px solid #DDD;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666;
}

.footer-bottom-left {
    margin-right: auto;
}

.footer-bottom-right a {
    margin-left: 20px;
    color: #666;
    text-decoration: none;
}

.footer-bottom-right a:hover {
    color: #1DA1F2;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: #666;
}
