header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}

.header-right a:hover {
    color: #007bff;
}

.header-right button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer
}