.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.typing {
    white-space: nowrap; /* don't wrap text */
    border-right: .04em solid orange; /* add cursor */
    animation: typing 3s steps(13, end), blink-caret 2s step-end infinite;
    font-size: 3rem;
    line-height: .100rem;
}

/* keyframes for the typing animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* keyframes for the blinking cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: cornflowerblue }
}


.box {
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px; /* add padding */
    max-width: 900px; /* limit the width */
    width: 100%; /* take up the full width of the parent container */

}


.tab {
    margin-top: 50px;
    display: flex;
    background-color: #C7D8FF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px; /* add padding */
    max-width: 900px; /* limit the width */
    width: 100%; /* take up the full width of the parent container */
}



.tab span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    font-family: "Fira Code", sans-serif;
    color: #5F656F;
}


.content {
    padding: 20px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
}

pre {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    white-space: pre-wrap;
    word-break: break-all;
}

pre code {
    display: block;
    padding: 0;
}

/* Experience component */

.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    width: 90%;
}

.experience h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 20px;
    margin-top: 30px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #555;
}

button:focus {
    outline: none;
}

button svg {
    font-size: 1.5rem;
    margin-right: 10px;
}

.text {
    margin-top: 110px;
    font-size: 1.2rem;
    text-align: right;
    flex-grow: 1;
    width: 60%;
}


